body{
    background-image: url('/img/img1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
       
}
.profile{
    position:absolute;
    left: 1500px;
    top: -10px;
    font-size: 30px;
    color:#BF11DD;
    font-family:Segeo UI;
}
/* hr {
    border: 1px solid #F737B0;  
} */
.card {
  position:absolute;
  top:-25px;
  left: 1100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: Segeo UI;
  background-color: #ffffff;
  padding: 70px 65px;

}
.pull-left.container1 {
  padding: 135px 50px;
  position:sticky;
  
  }
.title {
color: grey;
font-size: 18px;
}
p, h3{
color:#BF11DD;
}
h2{
color:#F737B0;
font-size: 28px;
}
h4{
position:relative;
left:50px;
}
p{
position:relative;
bottom:50px;
right:5px;
}
h2{
  position:relative;
bottom:10px;
right:5px;
}
h3{
  color:#F737B0;
}

button:hover, a:hover {
opacity: 0.7;
}
.text-right{
position: relative;
font-size: 70px;
font-family:Segeo UI;
}
.rightcolumn{
  position:absolute;
  left:10px;
  width: 20%;
  padding-left: 20px;  
}
.avatar {
vertical-align: middle;
width: 200px;
height: 200px;
border-radius: 50%;
position:relative;
right:10px;
bottom:30px;
border-color: #F737B0;
}
.avatar1 {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
left: 10px;
top: 10px;
}
.avatar2{
width: 100%;
height: 10vw;
}
.material-icons{
  color:#BF11DD;
  position: absolute;
  right:20px;
  top: 10px;
}

/* post */                       
.post .post-heading {
border-radius:25px 25px  0px 0px;
height: 70px;
padding: 5px 5px;
background-color:#F778A1;
}
.post .post-heading .avatar {
width: 60px;
height: 60px;
display: block;
margin-right: 15px;
}
.post .post-image .image {
width: 100%;
height: auto;
}
.post .post-description {
padding: 15px;
background-color:#ffffff;
border-radius:0px 0px  25px 25px;
} 

/* link-styles */
a{
  color:#BF11DD;
  }
a:link {
text-decoration: none;     
}
a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
color:#BF11DD;
}

a:active {
text-decoration: underline;

}
.btn.btn-primary-4{
  background-color: #ffffff;
  border-radius: 30px;
  color:#F737B0;
  position: relative;
  right: 5px;
  top:-20px;
  padding:3px 20px;
  font-size: 20px;
  font-family:Segeo UI;
}
.btn {
  border: 2px solid;
  background-color: white;
  padding: 5px 28px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary-4 {
  border-color: #F737B0; 
}
img.img-circle.avatar{
  position : relative;
  top:2px;
  left:10px;
}
.fa.fa-user{
  position:relative;
  bottom: 80px;
  left:250px;
}
.logo{
  position: absolute;
  left:10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:#BF11DD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #F737B0;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 30px;
  position: relative;
  right: 5px;
  top:-40px;
  padding:3px 35px;
  font-size: 20px;
  font-family:Segeo UI;
  border: 2px solid #ffffff;
}
.modal-content{
  float:left;
  max-width: 100%;
  height: 600px;
  background-color: ffffff;
  border: 2px solid #F737B0;
}
.modal-header{
  background-color: #F3F0F0;
  color: #F737B0;
  font-size: 20px;
}
.modal-body{
  color: #F737B0;
  font-weight: bold;
  font-size: 18px;
  position:relative;
  left:10px;
}
.form-control{
  background-color: #EEEAEA;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  height: 40px;
}
.custom-select{
  background-color: #EEEAEA;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}
.form-group-row{
  margin:10px auto;
	max-width: 400px;
}
::placeholder {
  font-size: 1em;
  color: #F737B0;
}
.btn.btn-primary-1{
  background-color: #F737B0;
  border-radius: 20px;
  color:#ffffff;
  border: none;
  position: relative;
  left: 5px;
  font-size: 20px;
  border: 2px solid #F737B0;
}
.btn.btn-primary-2{
  background-color: #ffffff;
  border-radius: 20px;
  color:#F737B0;
  position: relative;
  left: 10px;
  font-size: 20px;
  border: 2px solid #F737B0;
}
.custom-select{
  background-color:#EEEAEA;
}
input[type=file] {
  width: 70%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #F737B0;
}
input[type=text] {
  width: 70%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
   border-radius: 10px;
   border: 2px solid #F737B0;
}
label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 90%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}