body{
  background-image: url('/img/img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;    
}
.card{
  height: 750px;
  width: 900px;
  margin: 0 auto; 
  float: none; 
  top: 35px;
}
.card-header{
  text-align: center;
  background-color: #f2f2f2;
  color: #F737B0;
  border: 2px solid #F737B0;
}
.card-body{
  max-width: 100%;
  height: 900px;
  width: 900px;
  background-color: ffffff;
  border: 2px solid #F737B0;
  color: #F737B0;
  font-size: 20px;
}
.form-group.row h3{
  font-weight: bold;
}
input[type=text] {
  width: 100%;
  padding: 15px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f2f2f2;;
  }
  input[type="checkbox"]{
  width: 20px; 
  height: 20px; 
  background-color: #f2f2f2;;
  }
  textarea {
  width: 450px;
  height: 90px;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background-color: #f2f2f2;
  }
  .custom-select{
    background-color: #f2f2f2;
  }
  .btn.btn-primary-1{
    background-color: #F737B0;
    border-radius: 20px;
    color:#ffffff;
    border: none;
    padding:3px 25px;
    position: relative;
    left: 550px;
    font-size: 20px;
    border: 2px solid F737B0;
    }
    .btn.btn-primary-2{
    background-color: #ffffff;
    border-radius: 20px;
    color:#F737B0;
    padding:3px 25px;
    position: relative;
    left: 580px;
    font-size: 20px;
    border: 2px solid #F737B0;
    }
    .form-control{
      background-color: #ffffff;
      padding: 20px 20px 20px 20px;
      border-radius: 10px;
    }
    .form-group.row{
      margin:10px auto;
    }
    input[type=file] {
      width: 100%;
      padding: 15px 15px;
      margin: 6px 0;
      box-sizing: border-box;
    }