body{
    background-image: url('/img/img5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;     
}
* {
box-sizing: border-box;

} 

input[type=text], select, textarea {
width: 75%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
background-color: #f2f2f2;;
}

label {
padding: 12px 12px 12px 0;
display: inline-block;
}

input[type=submit] {
background-color: #4CAF50;
color: #ffffff;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
}

input[type=submit]:hover {
background-color: #45a049;
}

.container {
border-radius: 5px;
background-color: #ffffff;
padding: 20px;
width: 800px;
position:relative;
left:15px;
top:100px;
border: 2px solid #F737B0;
color:#F737B0;

}

.col-25 {
/* float: left; */
width: 20%;
margin-top: 6px;
position:relative;
left:50px;
}

.col-75 {
/* float: left; */
width: 80%;
margin-top: 6px;
position:relative;
left:70px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
width: 100%;
margin-top: 0;
}
}
.btn.btn-primary-5{
background-color: #F737B0;
border-radius: 20px;
color:#ffffff;
padding:3px 25px;
border: none;
position: relative;
left:400px;
top:20px;
font-size: 20px;
border: 2px solid #F737B0;
}
.btn.btn-primary-6{
background-color: #ffffff;
border-radius: 20px;
color:#F737B0;
padding:3px 25px;
position: relative;
left: 425px;
top:20px;
font-size: 20px;
border: 2px solid #F737B0;
} 
h1{
color:#F737B0;
position:relative;
left: 40px;
}