body{
  background-image: url('/img/img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  overflow-x: hidden;
  /* overflow-y: hidden;      */
}
.profile{
  position:absolute;
  left: 1500px;
  top: -10px;
  font-size: 30px;
  color:#BF11DD;
  font-family:Segeo UI;
}
 .card {
  position: fixed;
   bottom:0px;
   left: 1254px;
   max-width: 330px;
   margin: auto;
   text-align: center;
   font-family: Segeo UI;
   background-color: #ffffff;
   padding: 50px 40px;
} 
.panel.panel-white.post.panel-shadow{
  max-width: 200px;
  position:relative;
}
  .title {
    color: grey;
    font-size: 18px;
    }
    p, h3{
    color:#BF11DD;
    }
    h2{
    color:#F737B0;
    font-size: 28px;
    }
    h6{
    position:relative;
    left:50px;
    }
    p{
    position:relative;
    bottom:50px;
    right:5px;
    }
    h2{
    position:relative;
    bottom:10px;
    right:5px;
    }
    h3{
      color:#F737B0;
    }
    button:hover, a:hover {
      opacity: 0.7;
    }
    .text-right{
      position: relative;
      font-size: 70px;
      font-family:Segeo UI;
}
.rightcolumn{
  position:absolute;
  left:10px;
  width: 20%;
  padding-left: 20px;  
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position:relative;
  right:10px;
  bottom:30px;
  border-color: #F737B0;
  }
  .avatar1 {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  }
  .avatar2{
    width: 100%;
    height: 10vw;
    }
.material-icons{
  color:#BF11DD;
  position: relative;
  right:20px;
  top: 10px;
}
    /* post */                       
.post .post-heading {
  border-radius:25px 25px  0px 0px;
  height: 70px;
  padding: 5px 5px;
  background-color:#F778A1;
  }
  .post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
  }
  .post .post-image .image {
  /* width: 100%; */
  /* height: auto; */
  max-width: 100%;
  max-height: 100px;
  }
  .post .post-image{
    background-color: #ffffff;
  }
  .post .post-description {
  padding: 15px;
  background-color:#F778A1;
  border-radius:0px 0px  25px 25px;
  } 
  /* link-styles */
a{
  color:#BF11DD;
  }
a:link {
text-decoration: none;     
}
a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
color:#BF11DD;
}

a:active {
text-decoration: underline;

}
.btn.btn-primary-4{
  background-color: #ffffff;
  border-radius: 30px;
  color:#F737B0;
  position: relative;
  right: 5px;
  top:-20px;
  width:180px;
  padding:2px 20px;
  font-size: 20px;
  font-family:Segeo UI;
}
.btn.btn-primary-3{
  background-color: #F737B0;
  border-radius: 30px;
  color:#ffffff;
  position: relative;
  right: 5px;
  top:-20px;
  padding:3px 20px;
  font-size: 20px;
  font-family:Segeo UI;
}
.btn {
  border: 2px solid;
  background-color: white;
  padding: 5px 28px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary-4 {
  border-color: #F737B0; 
}
.btn-primary-3{
  border-color: #ffffff; 
}
img.img-circle.avatar{
  position : relative;
  top:2px;
  left:10px;
}
.fa.fa-user{
  position:relative;
  bottom: 80px;
  left:250px;
}
.logo{
  position: absolute;
  left:10px;
}
.modal-content{
  max-width: 200%;
  height: 750px;
  width: 700px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:#BF11DD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #F737B0;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 30px;
  position: relative;
  right: 5px;
  top:-40px;
  padding:3px 35px;
  font-size: 20px;
  font-family:Segeo UI;
  border: 2px solid #ffffff;
}
/* ///////////// */
.row{
  height: 40%;
  /* padding: 5px; */
  grid-row: 1 / 3;
  grid-gap: 10px;
  padding: 10px;
  /* display: grid; */
  /* grid-template-columns: auto auto auto ; */
  /* float: left; */
  position:relative;
  right:100px;
  width:auto;
}
/* * {
  box-sizing: border-box;
} */
 /* .row::after {
  content: "";
  clear: both;
  display: table;
} */
 /* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
} */

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: #BF11DD;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: #BF11DD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ///////////// */
