body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  }

.logo{
  position: absolute;
  top: 8px;
  left: 16px;
}

.imagecat{
  position: absolute;
  top: 200px;
  right: 35px;
}

.imagecat2{
  position: absolute;
  top: 900px;
  left: 35px;
}

.imagecat3{
  position: absolute;
  top: 1750px;
  right: 35px;
}

.imagecat4{
  position: absolute;
  top: 2550px;
  left: 35px;
}

.dogfoot{
  position: absolute;
  top: 200px;
  right: 1268px;
}

.dogfoot2{
  position: absolute;
  top: 900px;
  right: 225px;
}

.dogfoot3{
  position: absolute;
  top: 1750px;
  right: 1268px;
}

.dogfoot4{
  position: absolute;
  top: 2550px;
  right: 240px;
}


.nav.justify-content-end li a{
  color: #F737B0;  
  font-family:Segeo UI; 
  font-size: 30px;
}


.para{
  position: absolute;
  text-align: left;
  left: 100px;
  top: 250px;
  font-size: 20px;
  color: #F737B0;

}

.semipara h2{
  font-size: 50px;
  color: #F737B0;
}

.semipara2{
  position: absolute;
  right: 1025px;
  top: 200px;
  color: #F737B0;
}

.para1{
  position: absolute;
  text-align: right;
  left: 500px;
  top: 950px;
  right:50;
  font-size: 20px;
  color: #F737B0;

}

.semipara3{
  position: absolute;
  right: 50px;
  top: 900px;
  color: #F737B0;
}

.para2{
  position: absolute;
  text-align: left;
  left: 100px;
  top: 1800px;
  right:50;
  font-size: 20px;
  color: #F737B0;

}

.semipara4{
  position: absolute;
  right: 1080px;
  top: 1750px;
  color: #F737B0;
}

.para3{
  position: absolute;
  text-align: right;
  left: 500px;
  top: 2600px;
  right:50;
  font-size: 20px;
  color: #F737B0;

}

.semipara5{
  position: absolute;
  right: 50px;
  top: 2550px;
  color: #F737B0;
}

#section1 {
  height: 840px;
  background-image: url('/img/img5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section2 {
  height: 840px;
  background-image: url('/img/img5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 {
  height: 840px;
  background-image: url('/img/img5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section4 {
  height: 840px;
  background-image: url('/img/img5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}