html{
    scroll-behavior: smooth;
    }
    body{
      background-image: url('/img/back11.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: 100% 100%;
      overflow-x: hidden;
      }
    .logo{
      position: absolute;
      top: 8px;
      left: 16px;
    }
    .nav.justify-content-end li a{
      color: #F737B0;  
      font-family:Segeo UI; 
      font-size: 25px;
    }
    .card.flex-row.flex-wrap{
        left: 500px;
        height: 200px;
        width: 1000px;
    }
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    } 
    .left {
      left: 0;
      width: 20%;
      background-color: #ffffff;
    }
    .right {
      right: 0;
    }
  